{% extends 'base.html.twig' %}

{% block pagetitle %}Admin Archivos{% endblock %}

{% block body %}
    <div class="container">
        <div class="px-4 py-5 my-5 text-center mt-3">
            <img class="d-block mx-auto mb-4" src="http://www.planesdeformacion.es/wp-content/uploads/2015/03/trabajo_en_equipo.jpg" alt="" width="190" height="130">
            <h1 class="display-5 fw-bold">Gesti칩n de equipos</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">A침ade apuntes a la plataforma.</p>
                <p class="lead mb-4">S칩lo tus alumnos matriculados podr치n ver el contenido.</p>
            </div>
            <div class="row text-center p-5">
                <a href="{{ path('teams_admin') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
            </div>
            {% for message in app.flashes('success') %}
                <div class="flash-notice bg-success text-center w-50 m-auto">
                    <i class="bi bi-check-circle-fill"></i> {{ message }} <i class="bi bi-check-circle-fill"></i>
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="flash-notice bg-danger text-center w-50 m-auto">
                    <i class="bi bi-exclamation-circle"></i> {{ message }} <i class="bi bi-exclamation-circle"></i>
                </div>
            {% endfor %}
            <div class="row text-center mt-5">
                <form action="{{path('upload_file', {'id': id})  }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileUpload" class="form-label">Selecciona un archivo:</label>
                        <input type="file" id="fileUpload" name="file" class="form-control-file">
                    </div>
                    <button type="submit" class="btn btn-primary">Subir archivo</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
