{% extends 'base.html.twig' %}

{% block title %}Raspberry{% endblock %}

{% block body %}

    <div class="mt-5">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-4 mx-auto">
                <div class="card bg-info mt-5">
                    <div class="card-header">
                        Opciones
                    </div>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path('profile') }}" class="btn btn-danger w-auto m-auto"><i class="bi bi-arrow-return-left"></i> Volver</a>
                            </div>
                        </div>
                        <p>Desde aquí puedes controlar los pines de tu Raspberry Pi 4B. Pulsa en "Ver funcionalidades" para ver las opciones disponibles en este momento.</p>
                        <a href="{{ path('raspberry_funcionalidades') }}" class="btn btn-success mt-3">Ver funcionalidades</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
