<footer class="footer fixed-bottom">
  <div class="container text-center">
    <span class="text-muted">e-learning 2023</span>
    <a href="https://github.com/david9801" class="text-dark ms-3 text-decoration-none" target="_blank"> <i class="bi bi-github"></i>GitHub</a>
  </div>
</footer>